# Домашнее задание к лекции "Библиотека Pandas"

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [12]:
import pandas as pd
movies = pd.read_csv(r'C:\Users\RyzhikAV\PYDA-7\ml-25m\movies.csv')
ratings = pd.read_csv(r'C:\Users\RyzhikAV\PYDA-7\ml-25m\ratings.csv')

In [13]:
ratings_join_movies = ratings.merge(movies, on='movieId', how='left')

In [14]:
ratings_5_movies = ratings_join_movies[ ratings_join_movies.rating == 5 ]

In [15]:
ratings_5_movies['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    39553
Name: title, dtype: int64

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [19]:
power_lands = pd.read_csv('power.csv')

In [37]:
power_lands_filtered = power_lands[
    ((power_lands.country == 'Lithuania') | (power_lands.country == 'Estonia') | (power_lands.country == 'Latvia')) &
    ((power_lands.category == 4) | (power_lands.category == 12) | (power_lands.category == 21)) &
    ((power_lands.year >= 2005) & (power_lands.year <= 2010)) & (power_lands.quantity >= 0)
           ]

In [38]:
power_lands_filtered[['country', 'quantity']].groupby('country').sum()

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [40]:
metal_quotes = pd.read_html('https://fortrader.org/quotes')[2]
metal_quotes

                      Название       Цена   Изменение Изменение(%)  Обновлено
0      Серебро Цена на серебро    12.5380      -0.051       -0.405        NaN
1    Палладий Цена на Палладий  1514.4500       -2.55        -0.17        NaN
2  Золото Цена золота на бирже  1496.8900       -4.21        -0.28        NaN
3      Платина Цены на платину   609.2000        -2.2         -0.4        NaN
4      Медь Цена меди на бирже     2.1435  нет данных   нет данных        NaN